.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.optionalTitle {
    font-family: "GT Walsheim Pro";
    font-size: 24px;
    font-weight: 500;
    color: #070A1C;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.submitButton {
    width: 100%;
    height: 50px !important;
}

.errorField{
    
}