.container {
	width: 22.15vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 0.8vw;
	border: none;
	background: none;
	cursor: pointer;
}

.chatContainer {
	width: 100%;
	padding: 0.83vh 1.1vw;
}

/* padding: 1.7vh 1.1vw; */

.avatar {
	width: 4.8vh;
	height: 4.8vh;
	border-radius: 12345px;
}

.text {
	height: 4.8vh;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.name {
	font-family: "GT Walsheim Pro";
	font-style: normal;
	font-weight: 700;
	font-size: clamp(12px, 1.2vw, 16px);
	color: #060a1d;
}

.lastMessage {
	font-family: "GT Walsheim Pro";
	font-style: normal;
	font-weight: 400;
	font-size: clamp(8px, 1vw, 14px);
	color: #060a1d;
	color: color(display-p3 0.027 0.039 0.11);
}

.chatText {
	height: 4.8vh;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: row;
}

.textLeftPart {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.createdAt {
	font-family: "GT Walsheim Pro";
	font-style: normal;
	font-weight: 400;
	font-size: clamp(8px, 0.8vw, 12px);
	color: #81818e;
}

.newMessage {
	background: #E9E5EE !important;
}