.container {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10000px;
    position: relative;
}

.image {
    /* width: 100%; */
    height: 100%;
    border-radius: 10000px;
}

.circle {
    position: absolute;
    /* margin-top: 80%;
    margin-left: 80%; */
    top: 75%;
    left: 75%;
    width: 20px;
    height: 20px;
    border-radius: 1000px;
    border: 1px solid #FFFFFF;
    background-color: #22C55E;
}