/* default */

.container {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 16px;
	gap: 8px;
	height: 40px;
	border-radius: 1234px;
	cursor: pointer;
	border: none;
}

.onlyIcon {
	padding: 10px;
	width: 40px;
}

.fill {
	background: #583b53 !important;
	color: #fff !important;
}

.fill svg {
	fill: #fff !important;
}

.fill:hover {
	background: #452836 !important;
}

.unFill {
	border: 1px solid #583b53 !important;
	background: none !important;
	color: #583b53 !important;
	fill: #583b53 !important;
}

.fill svg {
	fill: #583b53 !important;
}


.unFill:hover {
	background: #f5e9f0 !important;
}

.icon {
	width: 20px;
	height: 20px;
}

.text {
	font-family: "GT Walsheim Pro";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}

/* small */

.smallContainer {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 16px;
	gap: 8px;
	height: 30px;
	width: 30px;
	border-radius: 1234px;
	cursor: pointer;
	border: none;
}

.smallText {
	font-family: "GT Walsheim Pro";
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
}

.smallOnlyIcon{
	padding: 5px;
	width: 30px;
}
