.button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background: none;
}

.button svg g path {
    fill: black !important;
    transition: fill 0.1s ease;
}

.button:hover svg g path {
    fill: #FF4C4C !important;
}