.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
    padding: 1% 2%;
    gap: 40px;
    border: solid 1px #CDCED2;
    border-radius: 15px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.title {
    color: #070A1C;
    font-family: "GT Walsheim Pro";
    font-size: 16px;
    font-weight: 500;
}