.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
}

.label {
    font-family: "GT Walsheim Pro";
    font-weight: 400;
    font-size: 16px;
    /* font-style: regular; */
    /* color: red; */
}

.error {
    font-family: "GT Walsheim Pro";
    font-weight: 400;
    font-size: 16px;
    /* font-style: regular; */
    color: #FF4C4C;
}

.helpInputDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input {
    width: 400px;
    height: 40px;
    padding-left: 5px;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    font-family: "GT Walsheim Pro";
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.input::placeholder {
    color: #81818D;
}

/* Textarea styles */

.containerTextArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.textarea {
    width: 100%;
    /* height: 40px; */
    min-height: 40px;
    padding-left: 5px;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    font-family: "GT Walsheim Pro";
    color: #000;
    font-size: 16px;
    font-weight: 400;
    resize: none;
    overflow-x: none;
}