.container {
    border: 1px solid #CDCED2;
    background: #fff;
    border-radius: 10px;
    width: 24.4vw;
    height: 28.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.7vh;
    padding: 0.7vw 0;
}


.ProfileInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5vh;
}

.NameBlock {
    gap: 1vh;
    color: #070A1C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Name {
    font-family: "GT Walsheim Pro";
    font-weight: 700;
    font-size: clamp(12px, 1.4vw, 20px);
}

.Username {
    font-family: "GT Walsheim Pro";
    font-weight: 500;
    font-size: clamp(10px, 1.2vw, 16px);
}


.ProfileStats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    flex-direction: row;
    width: 100%;
}

.ProfileStats > :first-child {
    border-right: 1px solid #CDCED2;
}

.ProfileStats > :last-child {
    border-left: 1px solid #CDCED2;
}

.StatBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.7vh;
    flex: 1;
}

.StatCount {
    color: #070A1C;
    font-family: "GT Walsheim Pro";
    font-weight: 700;
    font-size: clamp(12px, 1.4vw, 20px);
}

.StatName {
    color: #81818D;
    font-family: "GT Walsheim Pro";
    font-weight: 500;
    font-size: clamp(10px, 1.2vw, 16px);
}