.changePasswordBlock {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1.6vh;
}

.error {
    font-family: "GT Walsheim Pro";
    font-size: clamp(14px, 1.25vw, 18px);
    color: #FF4C4C;
}