.container{
    width: 800px;
    /* height: 950px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    background: color(display-p3 1.000 1.000 1.000);
    border-radius: 20px;
    padding: 20px 40px 40px 40px;
}

.closeModalButtonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.title {
    width: 100%;
    text-align: start;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    color: #060A1D;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
    padding-top: 30px;
}

.tagList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    width: 100%;
}

.tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 10px;
    background: #EAE5EF;
    border-radius: 6px;
    border: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

.tag:hover {
    background: #583B53;
}

.tag p {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #583B53;
}

.tag:hover p {
    color: #EAE5EF;
}

.linksList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 100%;
}

.linksTitle {
    font-family: "GT Walsheim Pro";
    font-weight: 400;
    font-size: 16px;
}

.linkItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}