.container{
    width: 800px;
    /* height: 950px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    background: color(display-p3 1.000 1.000 1.000);
    border-radius: 20px;
    padding: 20px 40px 40px 40px;
}

.closeModalButtonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.title {
    width: 100%;
    text-align: start;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    color: #060A1D;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
    padding-top: 30px;
}