.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.3vw;
    justify-content: center;
    position: relative;
    justify-content: space-between;
}

.leftBlock {
    display: flex;
    flex-direction: column;
    gap: 0.8vh;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
    overflow-y: unset;
    max-height: 89.8vh;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.bottomSpace {
    height: 12vh;
    flex-shrink: 0;
}