.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px 8px;
	gap: 8px;
	height: 30px;
	border-radius: 3px;
}

.text {
	font-family: "GT Walsheim Pro";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #060a1d;
	color: color(display-p3 0.027 0.039 0.11);
}
