.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 9.2vh;
    width: 100%;
    background-color: #fff;
    padding: 0 5.6vw;
}

.navigation {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 1.7vw;
}