.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 9.2vh;
    width: 100%;
    background-color: #fff;
    padding: 0 5.6vw;
}

.navigationForPC {
    display: none;
    align-items: center;
    gap: 1.7vw;
}

.navigationForPhone {
    display: none;
    align-items: center;
    gap: 1.7vw;
}

.logoButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}


@media (pointer: fine){
    .navigationForPC {
        display: flex;
    }
}


@media (pointer: coarse){
    .navigationForPhone {
        display: flex;
    }
}