.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
    min-height: calc(9.2vh + env(safe-area-inset-top));
    width: 100%;
    background-color: #fff;
    
    padding: env(safe-area-inset-top) 5.6vw 0 5.6vw;
}


.navigationForPC {
    display: none;
    align-items: center;
    gap: 1.7vw;
}

.navigationForPhone {
    display: none; 
    align-items: center;
    gap: 1.7vw;
}

.logoButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}


@media (min-width: 1024px) {
    .navigationForPC {
        display: flex;
    }
}


@media (max-width: 1023px) {
    .navigationForPhone {
        display: flex;
    }
}