.container {
    width: 20.8vh;
    height: 20.8vh;
    border: 1px dotted  black;
    border-radius: 10px;
    cursor: pointer;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonIcon {
}

.hiddenInput {
    display: none;
}