.container {
    width: var(--card-size);
	height: var(--card-size);
    border: 1px dotted  black;
    border-radius: 10px;
    cursor: pointer;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonIcon {
}

.hiddenInput {
    display: none;
}

@media (pointer: coarse) {
	.container {
		width: 19.7vh;
		height: 19.7vh;
	}
}