.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 0.83vh;
	height: 100%;
}

.block {
    /* max-height: 89.8vh; */
	/* height: 100%; */
	height: 78vh;
	overflow: hidden;
    
	justify-content: flex-start !important;
}

/* .block::-webkit-scrollbar {
	display: none; */
/* } */

.headerButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: "GT Walsheim Pro";
	font-style: normal;
	font-weight: 700;
	font-size: clamp(12px, 1.2vw, 16px);
	color: #583b53;
	background: none;
	border: none;
	cursor: pointer;
}

.list {
	width: 100%;
	display: grid;
	/* flex: 1; */
	min-height: 0;
	grid-template-columns: repeat(3, 20.07vw);
	row-gap: 1vw;
	padding-bottom: 3vh;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow-y: auto;
    
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.list::-webkit-scrollbar {
	display: none;
}


.noItems {
	color: #81818d;
	font-family: "GT Walsheim Pro";
	font-weight: 600;
	font-size: clamp(2px, 2.4vw, 34px);
}


@media (max-width: 1270px) {
	.list {
		grid-template-columns: repeat(2, 30vw);
	}
}

@media (max-width: 1025px) {
    .list {
		grid-template-columns: repeat(3, 30vw);
	}
}

@media (max-width: 900px) {
    .list {
		grid-template-columns: repeat(2, 45vw);
	}
}

@media (max-width: 767px) {
    .list {
		grid-template-columns: repeat(1, 100%);
	}
}

@media (min-width: 1025px) {
    .block {
		height: 89vh;
	}
}