.container {
    display: flex;
    justify-content: space-between;
    /* padding: 2% 10%; */
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.navigation {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}


.selectButton {
    border: none;
    background: none;
    font-size: clamp(12px, 1.2vw, 16px);
    font-family: "GT Walsheim Pro";
    font-weight: 600;
    color: #81818D;
    cursor: pointer;
}

.selected {
    color: #070A1C !important;
    font-weight: 800 !important;

    border-bottom: 2px solid #543C52;
    padding-bottom: 0.8vh;
}