.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5vw;
}

.bottomSpace {
    height: 6vh;
    flex-shrink: 0;
}

.phoneHeader {
    padding-bottom: 1.7vh;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    flex-direction: row;
    padding: 0 3.1vw 1.7vh 3.1vw;
    background: #FAF8FF;
}

.selected {
    border-top: 2px solid #543C52 !important;

}

.navigationButton {
    height: 5.6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6vh;
    border: none;
    background: none;
    cursor: pointer;
}

@media (pointer: coarse) {
    .container {
        flex-direction: column;
        margin-top: -1vh;
    }
    .phoneHeader {
        display: flex;
    }
}