.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    flex-direction: column;
    background-color: #FAF8FF;
    gap: 1vh;
}

.content {
    width: 100%;
    min-height: 89.8vh;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0 5.6vw;
}

@media (pointer: coarse) {
    .container {
        background-color: #E9E5EE;
    }

    .content {
        padding: 0;
    }
}