.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: #FAF8FF;
    gap: 1vh;
}

.content {
    width: 100%;
    min-height: 90.8vh;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0 5.6vw;
}